.headerSearch {
  display: flex;
  align-items: center;
  margin-left: var(--a-spacing-4);
}

.mainFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--a-spacing-4);
}

.content {
  width: 100%;
  max-width: 600px;
}
